<div>
    <form action="add_student" method="POST">
        <label for="name">Name:</label>
        <br>
        <input type="text" id="name" name="name" value="">
        <br>
        <label for="grade">Grade: </label>
        <br>
        <input type="text" id="grade" name="grade" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div> 